<div ng-click="hideMenu()">
  <div class="panel-body col-md-12">
    <div class="panel-body">
        <h2>Welcome to LDP File Manager!</h2>
        <div ng-hide="loginSuccess">
          <h3>Please authenticated in order for us to find your files.</h3>
          <p ng-hide="showLogin"><button class="btn btn-primary btn-sep-right" ng-click="showLogin=!showLogin">Login</button></p>
        </div>
  </div>

  <!--login screen -->
  <div ng-show="showLogin">
    <div class="login-frame">
      <h2>Login / Sign Up</h2>

      <iframe ng-src="{{signupWidget}}" sandbox="allow-same-origin allow-scripts allow-forms" frameborder="0"></iframe>

    </div>
  </div>

</div>
