.index {
	font-size: 1.3em;
	position: relative;
	text-align: center;
	margin-top: 30px;
	z-index: 800;
}

.index a {
	color: #000;
	cursor: pointer;
	text-decoration: initial;
}

.index table {	
	width: 100%;
}

.index thead th {
	background: #ff3c1f;
	color: #fff;
	font-size: 1.2em;
	height: 35px;
}
.index th, caption {
	padding: 10px 10px 10px 5px;
	font-weight: bold;
}

.index tr {
	text-align: left;
	background: #fff;
	border-top: 1px dotted #ddd;
}
.index thead > tr {
	border-top: 1px solid #ddd;
}
.index tr:hover {
	background: #f2f2f2;
}

.index td {
	vertical-align: middle;
	padding: 0px 5px 0px 5px;
	word-break: normal;
	word-wrap: break-word;
}

.index td a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 15px 20px 15px 0px;
}

.newdir {
	position: fixed;
	top: 150px;
	left: 100px;
	background: #fff;
	min-width: 300px;
	min-height: 300px;
}

.dragdrop {
	text-align: center;
	margin-top: 10px;
	padding-top: 30px;
	width: 300px;
	height: 100px;
	border: 4px dotted #ddd;
}

.upload-files td {
	padding-right: 5px;
}

.modal-dialog {
	width: 350px !important;
}

.shadow {
	-moz-box-shadow: 0 2px 2px 1px #ddd;
	-webkit-box-shadow: 0 2px 2px 1px #ddd;
	box-shadow: 0 2px 2px 1px #ddd;
}

.box-shadow {
	-moz-box-shadow: 0 2px 2px 0px #ddd;
	-webkit-box-shadow: 0 2px 2px 0px #ddd;
	box-shadow: 0 2px 2px 0px #ddd;
}

.filename {
	width: 70%;
}

.dropzone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold;
  color: #bbb;
  margin-bottom: 20px;
}

.actions {
	text-align: right;
}

.table-cell { 
	display: table-cell;
}

.create-new {
	position: relative;
	top: 25px;
}
.create-new button {
	width: 50px;
	height: 50px;
}
.create-new li {
	text-align: left;
	font-size: 1.3em;
}

.nginput {
  transition:0.3s linear all;
  background: white;
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  padding: 5px;
}
.nginput.ng-invalid {
  background: #ff3c1f;
  color:white;
}
/*  ng-view Animation  */
.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  
  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
  left:20px;
}
.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}

.view-slide-in.ng-leave.ng-leave-active{
  top:5px;
  left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}

/*  ng-repeat Animation  */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
    
  position:relative;
  left:5px;
}
.repeat-animation.ng-enter {
  opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.repeat-animation.ng-leave {
  opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.repeat-animation.ng-move {
  left:2px;
  opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
  left:0;
  opacity: 1;
}

/*  ng-hide Animation  */
.hide-fade.ng-hide-add, .hide-fade.ng-hide-remove {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
  display:block!important;
}

.hide-fade.ng-hide-add.ng-hide-add-active,
.hide-fade.ng-hide-remove {
  opacity:0;
}

.hide-fade.ng-hide-add,
.hide-fade.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
#crumbs {
	position: relative;
	text-align: left;
	top: 5px;
	left: 10px;
}
#crumbs ul {
	list-style: none;
	display: inline-table;
	padding-left: 10px;
}
#crumbs ul li {
	display: inline;
}
#crumbs ul li a {
	display: block;
	float: left;
	height: 50px!important;
	background: #bbb;
	text-align: center;
	padding: 10px 10px 0 40px;
	position: relative;
	margin: 0 5px 0 0; 
	
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
#crumbs ul li a:after {
	content: "";  
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 20px solid #bbb;
	position: absolute; right: -20px; top: 0;
	z-index: 1;
}
		
#crumbs ul li a:before {
	content: "";  
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 20px solid;
	position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child a {
	border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
#crumbs ul li:first-child a:before {
	display: none; 
}
#crumbs ul li:last-child a {
	padding-right: 80px;
	border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
#crumbs ul li:last-child a:after {
	display: none; 
}
#crumbs ul li a:hover {
	background: #ff3c1f;
}
#crumbs ul li a:hover:after {
	border-left-color: #ff3c1f;
}