<div class="container" ng-click="hideMenu()">
  <div class="col-md-12" ng-show="listLocation === false">
    <div class="clear-70"></div>
    <h1>Please provide a location for the data server:</h1>
    <div class="prepare-list">
      <form name="preList">
        <div class="btn-group half-width">
          <input type="text" ng-model="uriPath" name="uriPath" id="uriPath" class="nginput pull-left" placeholder="https://example.org/" autofocus />
          <button class="btn btn-primary" ng-click="prepareList(uriPath)"><i class="fa fa-search fa-2x"></i></button>
        </div>
      </form>
    </div>
  </div>
  <div ng-cloak class="col-md-12" ng-show="listLocation === true">
    <table class="create-new">
      <tr>
        <td>
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success dropdown-toggle" ng-disabled="disabled" tooltip-placement="bottom" tooltip="New..."><i class="fa fa-2x fa-plus"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href ng-click="openNewDir()"><i class="fa fa-2x fa-folder-open-o fa-fw vmiddle"></i> Directory</a></li>
              <li><a href ng-click="openNewFile()"><i class="fa fa-2x fa-file-o fa-fw vmiddle"></i> File</a></li>
              <li><a href ng-click="openNewUpload(path)"><i class="fa fa-2x fa-cloud-upload fa-fw vmiddle"></i> Upload</a></li>
            </ul>
          </div>
    		</td>
        <td>
          <div id="crumbs" class="collapse navbar-collapse">
            <ul>
              <li ng-repeat="crumb in breadCrumbs">
                <a href="{{crumb.uri}}"><i class="fa" ng-class="$first?'fa-home':'fa-folder-open-o'"></i> {{crumb.name}}</a>
                </li>
      			</ul>
    	   	</div>
    		</td>
      </tr>
    </table>
    <div class="index">
			<table class="box-shadow">
				<thead>
					<th class="filename">Name</th>
					<th>Size</th>
					<th>Modified</th>
					<th class="right">Action</th>
				</thead>
        <tr ng-show="emptyDir">
          <td colspan="4"><h2>No files found</h2></td>
        </tr>
				<tr ng-repeat="res in resources|orderBy:['type','name']">
					<td colspan="{{res.type==='-'?4:1}}"><a href="{{res.path}}" target="{{res.type=='File'?'_blank':''}}"><i class="fa" ng-class="res.type=='Directory'||res.type==='-'?'fa-folder-open-o':'fa-file-o'"></i> {{res.name}}</a></td>
					<td ng-hide="res.type==='-'">{{res.size|fileSize}}</td>
					<td ng-hide="res.type==='-'"><div tooltip-placement="bottom" tooltip="{{res.mtime|classicDate}}">{{res.mtime|fromNow}}</div></td>
					<td ng-hide="res.type==='-'" class="center">
						<div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                <i class="fa fa-angle-double-down"></i>
              </button>
					      <ul class="dropdown-menu dropdown-menu-right left" role="menu">
					        <li><a href="#" ng-show="res.type != 'Directory'"><i class="fa fa-2x fa-pencil-square-o fa-fw vmiddle"></i> View/Edit</a></li>
					        <li><a href="#"><i class="fa fa-2x fa-unlock-alt fa-fw vmiddle"></i> Permissions</a></li>
					        <li><a href ng-click="openDelete(res.uri)"><i class="fa fa-2x fa-trash-o fa-fw vmiddle"></i> Delete</a></li>
					      </ul>
					    </div>
					</td>
				</tr>
			</table>
		</div>
	</div>

  <!-- New dir modal -->
  <script type="text/ng-template" id="newdir.html">
    <div>
      <div class="modal-header">
            <h3 class="modal-title">New directory</h3>
        </div>
        <div class="modal-body">
          <form name="newDirName">
            <fieldset>
              <input type="text" ng-model="dirName" name="dirName" id="dirName" class="nginput" placeholder="dir name.." ng-focus="isFocused" ng-keypress="($event.which === 13)?newDir(dirName):0" />
              <span ng-hide="newDirName.dirName.$valid">Only use: a-z A-Z 0-9 _ -</span>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="newDir(dirName)">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
  </script>

  <!-- New file modal -->
  <script type="text/ng-template" id="newfile.html">
    <div>
      <div class="modal-header">
            <h3 class="modal-title">New file</h3>
        </div>
        <div class="modal-body">
          <form name="newFileName">
            <fieldset>
              <input type="text" ng-model="fileName" name="fileName" id="fileName" class="nginput" placeholder="file name.." ng-focus="isFocused" ng-keypress="($event.which === 13)?newFile(fileName):0" />
              <!-- <span ng-hide="newFileName.fileName.$valid">Only use: a-z A-Z 0-9 _ - .</span> -->
            </fieldset>
          </form>
          <br/><small class="orange">Warning: creating a new file may overwrite an existing one with the same name!</small>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="newFile(fileName)">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
  </script>

  <!-- Upload file modal -->
  <script type="text/ng-template" id="uploadfiles.html">
    <div>
      <div class="modal-header">
        <h3 class="modal-title">Upload files to <strong>{{container}}/</strong></h3>
      </div>
      <div class="modal-body">
        <input type="file" ng-file-select="onFileSelect($files)" data-multiple="true" multiple="multiple">
        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="'dropzone-on'" class="dropzone" ng-show="dropSupported">
          Drop files here
        </div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
          HTML5 Drop File is not supported!
        </div>
        <table class="upload-files" ng-show="selectedFiles.length > 0">
          <tr>
            <td><strong>File name</strong></td>
            <td><strong>Status</strong></td>
            <td></td>
          </tr>
          <tr ng-repeat="file in selectedFiles" ng-class="progress[file.name] == 100?'done':''">
            <td>{{file.name|truncate:25}}</td>
            <td><progressbar value="progress[file.name]"></progressbar></td>
            <td class="pull-right">
              <button ng-hide="progress[file.name] == 100" class="btn btn-mini btn-default" ng-click="abort(file.name)"><i class="fa fa-2x fa-times"></i></button>
              <button ng-show="progress[file.name] == 100" class="btn btn-mini btn-default" ng-click="remove(file.name)"><i class="fa fa-2x fa-trash-o"></i></button>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="clearUploaded()" ng-show="selectedFiles.length > 0">Clear uploaded</button>
        <button class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
    </div>
  </script>

  <!-- Remove resource modal -->
  <script type="text/ng-template" id="delete.html">
    <div>
      <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-2x fa-trash-o fa-fw vmiddle"></i> Delete resource</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete:</p>
          <p><strong>{{resource}}</strong></p>
          <small>Note: make sure directories are empty before removing them.</small>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="deleteResource(resource)">Yes</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
  </script>
</div>
