<div class="container" ng-click="hideMenu()">
  <div class="clear-70"></div>
  <div class="col-md-12">
    <table class="create-new">
      <tr>
        <td>
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-success dropdown-toggle" ng-disabled="disabled"><i class="fa fa-2x fa-plus"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href ng-click="openNewDir()"><i class="fa fa-2x fa-folder-open-o fa-fw vmiddle"></i> Directory</a></li>
              <li><a href ng-click="openNewFile()"><i class="fa fa-2x fa-file-o fa-fw vmiddle"></i> File</a></li>
              <li><a href ng-click="openNewUpload()"><i class="fa fa-2x fa-cloud-upload fa-fw vmiddle"></i> Upload</a></li>
            </ul>
          </div>
    		</td>
        <td>
          <div id="crumbs">
            <ul>
              <li ng-repeat="dir in dirPath">
                <a href="{{dir.path}}"><i class="fa fa-folder-open-o"></i> {{dir.name}}</a>
                </li>
      			</ul>
    	   	</div>
    		</td>
      </tr>
    </table>
    <div class="index">
			<table class="box-shadow">
				<thead>
					<th class="filename">Name</th>
					<th>Size</th>
					<th>Modified</th>
					<th>Actions</th>
				</thead>
				<tr ng-repeat="res in resources">
					<td colspan="{{res.type=='Parent'?4:1}}"><a href="{{res.path}}"><i class="fa" ng-class="res.type=='Directory'||res.type=='Parent'?'fa-folder-open-o':'fa-file-o'"></i> {{res.name}}</a></td>
					<td ng-hide="res.type=='Parent'"><a href="{{res.path}}">{{res.size|fileSize}}</a></td>
					<td ng-hide="res.type=='Parent'"><div tooltip-placement="bottom" tooltip="{{res.mtime|classicDate}}"><a href="{{res.path}}">{{res.mtime|fromNow}}</a></div></td>
					<td ng-hide="res.type=='Parent'">
						<div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                Action <span class="caret"></span>
              </button>
					      <ul class="dropdown-menu dropdown-menu-right" role="menu">
					        <li><a href="#" ng-show="res.type != 'Directory'"><i class="fa fa-2x fa-pencil-square-o fa-fw vmiddle"></i> View/Edit</a></li>
					        <li><a href="#"><i class="fa fa-2x fa-unlock-alt fa-fw vmiddle"></i> Permissions</a></li>
					        <li><a href ng-click="openDelete(res.uri)"><i class="fa fa-2x fa-trash-o fa-fw vmiddle"></i> Delete</a></li>
					      </ul>
					    </div>
					</td>
				</tr>
			</table>
		</div>
	</div>

  <!-- New dir modal -->
  <script type="text/ng-template" id="newdir.html">
    <div>
      <div class="modal-header">
            <h3 class="modal-title">New directory</h3>
        </div>
        <div class="modal-body">
          <form>
            <fieldset>
              <label for="dirName">Name:</label>
              <input type="text" ng-model="dirName" ng-pattern="/^[A-Za-z0-9_-]*$/" name="dirName" id="dirName" class="nginput" />
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="newDir(dirName)">OK</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
  </script>

  <!-- New file modal -->
  <script type="text/ng-template" id="newfile.html">
    <div>
      <div class="modal-header">
          <h3 class="modal-title">New file</h3>
      </div>
      <div class="modal-body">
      File
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>  
      </div>
    </div>
  </script>

  <!-- Upload file modal -->
  <script type="text/ng-template" id="uploadfiles.html">
    <div flow-init="{target: $scope.path}">
      <div class="modal-header">
          <h3 class="modal-title">Upload a file</h3>
      </div>
      <div class="modal-body">
          <input type="file" class="btn btn-default" flow-btn/>
          
          <div class="dragdrop" flow-drop flow-drag-enter="style={border:'4px dotted #5cb85c'}" flow-drag-leave="style={}"
         ng-style="style">
              Drag And Drop your files here
          </div>
          <table class="upload-files">
            <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <span class="btn btn-primary" ng-click="$scope.upload()" ng-enabled="$index>1">Upload File</span> -->
        <span class="btn btn-default" ng-click="cancel()">Cancel</span>
      </div>
    </div>
  </script>

  <!-- Remove resource modal -->
  <script type="text/ng-template" id="delete.html">
    <div>
      <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-2x fa-trash-o fa-fw vmiddle"></i> Remove resource</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to remove</p>
          <p><strong>{{delUri}}</strong></p>
          <br/>
          <p><small>Note: make sure directories are empty before removing them.</small></p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="deleteResource(resource)">Yes</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
  </script>
</div>
