<!-- Upload file modal -->
<div flow-init="{target: $scope.path}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">
  <div class="modal-header">
      <h3 class="modal-title">Upload a file</h3>
  </div>
  <div class="modal-body">
      <input type="file" class="btn btn-default" flow-btn/>
      
      <div class="dragdrop" flow-drop flow-drag-enter="style={border:'4px dotted #5cb85c'}" flow-drag-leave="style={}"
     ng-style="style">
          Drag And Drop your files here
      </div>
      <table class="upload-files">
        <tr ng-repeat="file in $flow.files">
            <td>{{$index+1}}</td>
            <td>{{file.name}}</td>
            <td>{{file.msg}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <span class="btn btn-primary" flow-btn ng-enabled="$index>1">Upload File</span>
    <span class="btn btn-default" ng-click="cancel()">Cancel</span>
  </div>
</div>