<div class="row" ng-click="hideMenu()">
  <div class="clear-70"></div>
  <div class="col-md-12">
		<div id="crumbs">
			<ul>
				<li ng-repeat="dir in dirPath"><a href="#/view/{{dir.uri}}">{{dir.name}}</a></li>
			</ul>
		</div>
		<div class="index">
			<table>
				<thead>
					<th class="filename">Name</th>
					<th>Type</th>
					<th>Size</th>
					<th>Last Modified</th>
					<th class="actions" colspan="3">Actions</th>
				</thead>
				<tr ng-repeat="res in resources">
					<td><i class="fa" ng-class="res.type=='Directory'?'fa-folder-open':'fa-file'"></i> <a href="{{res.uri}}">{{res.name}}</a></td>
					<td>{{res.type}}</td>
					<td>{{res.size}}</td>
					<td>{{res.mtime|fromNow}}</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>
